<div class="modal fade" id="@(NameModal)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="@(NameModal)Label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@(NameModal)Label">Окно Просмотра файла</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" @onclick="Close"></button>
            </div>
            <div class="modal-body">
                <FileViewer FilePath="@FilePath" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Close">Закрыть</button>
                <form action="/File/Download" method="post" style="display: inline;">
                    <AntiforgeryToken />
                    <input type="hidden" value="@FilePath" name="Path" />
                    <button class="btn btn-primary" type="submit">Скачать</button>
                </form>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string NameModal { get; set; }
    [Parameter, EditorRequired]
    public string FilePath { get; set; }

    private void Close()
    {
        FilePath = string.Empty;
    }
}
