@inject IFileUploadService service
@implements IAsyncDisposable

@if (string.IsNullOrEmpty(service.ErrorMessage) == false)
{
    <div class="alert alert-danger" role="alert">
        @service.ErrorMessage
    </div>
}

<p>Загружайте до @service.Settings.MaxAllowedFiles файлов размером до @service.Settings.MaxFileSize байт:</p>

<div class="FileDrop mb-3">
    <InputFile multiple OnChange="LoadFiles"></InputFile>
</div>

<div class="file-input-container">
    <InputFile id="file2" class="visually-hidden" multiple OnChange="LoadFiles" />
    <label for="file2" class="icon-button" aria-label="Загрузить файл">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
            <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
        </svg>
    </label>
</div>

<button class="btn btn-primary" @onclick="SendFiles">
    Send
</button>

@if (isLoading)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    if (service.SelectedFiles?.Count() > 0)
    {
        <p>Выбранные файлы</p>
        <ul class="list-group">
            @foreach (var file in service.SelectedFiles)
            {
                <li class="list-group-item">
                    <ul class="list-group">
                        <li class="list-group-item">Name: @file.Name</li>
                        <li class="list-group-item">Last modified: @file.LastModified.ToString()</li>
                        <li class="list-group-item">Size (bytes): @file.Size</li>
                        <li class="list-group-item">Content type: @file.ContentType</li>
                    </ul>
                </li>
            }
        </ul>
    }
    if (service.ErrorFiles?.Count() > 0)
    {
        <p>Ошибочные файлы</p>
        @foreach (var file in service.ErrorFiles)
        {
            <ul class="list-group">
                <li class="list-group-item">Name: @file</li>
            </ul>
        }
    }
}

@code {
    private InteractiveInfoService InteractiveInfo { get; set; }

    private CancellationTokenSource _pageLifetimeCts = new();
    // Токен, который срабатывает при закрытии/уничтожении страницы
    public CancellationToken PageLifetimeToken => _pageLifetimeCts.Token;

    public bool isLoading { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        InteractiveInfo = new InteractiveInfoService(RendererInfo, AssignedRenderMode);
        if (InteractiveInfo.IsWaitingInteractive == false)
        {
            await service.OnInitializedAsync(PageLifetimeToken);
        }
        await base.OnInitializedAsync();
    }

    public async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        service.LoadFiles(in e);
        isLoading = false;
    }

    public async Task SendFiles()
    {
        isLoading = true;
        await service.SendFilesAsync(PageLifetimeToken);
        isLoading = false;
    }

    // Флаг для отслеживания состояния
    private bool _isDisposed;
    // Освобождение ресурсов при уничтожении компонента
    public async ValueTask DisposeAsync()
    {
        if (_isDisposed) return;

        _isDisposed = true;

        // Отменяем все операции
        _pageLifetimeCts?.Cancel();
        // Освобождаем ресурсы
        _pageLifetimeCts?.Dispose();
    }
}
