@using FileExstend
@using FileExstend.Models

@if (string.IsNullOrEmpty(FilePath) == false)
{
    @if (FileEx.Type == FileType.Image)
    {
        <div class="text-center">
            <img src="@FilePath" class="rounded" alt="Изображение" loading="lazy" style="max-width: 100%; max-height:82vh;">
        </div>
    }
    else if (FileEx.Type == FileType.Video)
    {
        <center>
            <video controls preload="metadata" name="media" style="max-width: 100%; max-height:82vh;">
                <source src="@FilePath" type="@FileEx.MIME" />
            </video>
        </center>
    }
    else if (FileEx.Type == FileType.Audio)
    {
        <center>
            <figure>
                <audio controls src="@FilePath" preload="metadata" type="@FileEx.MIME" style="width: 100%"></audio>
            </figure>
        </center>
    }
    else if (FileEx.Type is FileType.PDF or FileType.Text or FileType.Web)
    {
        <center>
            <iframe src="@FilePath" loading="lazy" style="width: 100%; height:82vh;">
            </iframe>
        </center>
    }
    @* else if (FileEx.Type is FileType.MSWord or FileType.MSExcel or FileType.MSPowerPoint)
    {
        <center>
            @if (NavigationManager.BaseUri.Contains("localhost"))
            {
                <div class="alert alert-danger" role="alert">
                    При локальном сервере не доступен просмотр
                </div>
            }

            <a href="@($"https://docs.google.com/viewer?url={Uri.EscapeDataString(NavigationManager.BaseUri + FilePath)}&embedded=true")" target="_blank">
                Окрыть в GoogleDocs
            </a>
            
        </center>
    } *@
    else
    {
        <div class="alert alert-danger" role="alert">
            Тип файла не поддерживает просмотр
        </div>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        Не передан файл
    </div>
}

@code {
    [Parameter, EditorRequired]
    public string FilePath { get; set; }

    [Inject] NavigationManager NavigationManager { get; set; }

    private FileExstension FileEx;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(FilePath) == false)
            FileEx = FileExstensionHelper.GetExtensionType(FilePath);
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrEmpty(FilePath) == false)
            FileEx = FileExstensionHelper.GetExtensionType(FilePath);
        await base.OnParametersSetAsync();
    }
}
