@using FileExstend
@inject IFileUploadService service
@implements IAsyncDisposable

<div class="modal fade" id="@(NameModal)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="@(NameModal)Label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@(NameModal)Label">Окно отправки файлов</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть" @onclick="service.ClearSelected"></button>
            </div>
            <div class="modal-body">
                @if (string.IsNullOrEmpty(service.ErrorMessage) == false)
                {
                    <div class="alert alert-danger" role="alert">
                        @service.ErrorMessage
                    </div>
                }

                <p>
                    Загружайте
                    @if (service.Settings.EnableMaxAllowedFiles)
                    {
                        <span>до @service.Settings.MaxAllowedFiles файлов </span>
                    }
                    else
                    {
                        <span>файлы </span>
                    }
                    @if (service.Settings.EnableMaxFileSize)
                    {
                        <span>размером до @FileExstensionHelper.FormatBytes(service.Settings.MaxFileSize):</span>
                    }
                </p>

                <div class="FileDrop mb-3">
                    <InputFile multiple OnChange="LoadFiles"></InputFile>
                </div>

                @if (isLoading)
                {
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Загрузка...</span>
                        </div>
                    </div>
                }
                else
                {
                    if (service.SelectedFiles?.Count() > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-hover caption-top">
                                <caption>Выбранные файлы (@service.SelectedFiles?.Count())</caption>
                                <thead>
                                    <tr>
                                        <th scope="col">Названия</th>
                                        <th scope="col">Последнее изменение</th>
                                        <th scope="col">Размер (байт)</th>
                                        <th scope="col">Тип контента</th>
                                        <th scope="col">Действия</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    @foreach (var file in service.SelectedFiles)
                                    {
                                        <tr>
                                            <td>@file.Name</td>
                                            <td>@file.LastModified.ToString()</td>
                                            <td>@FileExstensionHelper.FormatBytes(file.Size)</td>
                                            <td>@file.ContentType</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" @onclick="() => service.RemoveItem(file)">
                                                    Убрать
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    if (service.ErrorFiles?.Count() > 0)
                    {
                        <p>Ошибочные файлы</p>
                        @foreach (var file in service.ErrorFiles)
                        {
                            <ul class="list-group">
                                <li class="list-group-item">Name: @file</li>
                            </ul>
                        }
                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="service.ClearSelected">Закрыть</button>
                @if (service.SelectedFiles?.Count() > 0)
                {
                    <button type="button" class="btn btn-primary" disabled="@isLoading" @onclick="SendFiles">Отправить</button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string NameModal { get; set; }
    [Parameter]
    public EventCallback OnSendFiles { get; set; }

    private InteractiveInfoService InteractiveInfo { get; set; }

    private CancellationTokenSource _pageLifetimeCts = new();
    // Токен, который срабатывает при закрытии/уничтожении страницы
    public CancellationToken PageLifetimeToken => _pageLifetimeCts.Token;

    public bool isLoading { get; private set; } = false;

    protected override async Task OnInitializedAsync()
    {
        InteractiveInfo = new InteractiveInfoService(RendererInfo, AssignedRenderMode);
        if (InteractiveInfo.IsWaitingInteractive == false)
        {
            await service.OnInitializedAsync(PageLifetimeToken);
        }
        await base.OnInitializedAsync();
    }

    public async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        service.LoadFiles(in e);
        isLoading = false;
    }

    public async Task SendFiles()
    {
        isLoading = true;
        await service.SendFilesAsync(PageLifetimeToken);
        isLoading = false;
        StateHasChanged();
        await OnSendFiles.InvokeAsync();
    }

    // Флаг для отслеживания состояния
    private bool _isDisposed;
    // Освобождение ресурсов при уничтожении компонента
    public async ValueTask DisposeAsync()
    {
        if (_isDisposed) return;

        _isDisposed = true;

        // Отменяем все операции
        _pageLifetimeCts?.Cancel();
        // Освобождаем ресурсы
        _pageLifetimeCts?.Dispose();
    }
}
