@page "/Files"
@using BlazorApp.Client.Models.Request
@using FileExstend
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode pageRenderMode
@inject IFileListService service

<h3>Files [@InteractiveInfo.CurrentRenderType]</h3>

@if (InteractiveInfo.IsWaitingInteractive == false)
{

    <FileUploadModalDialog NameModal="FileUploadModalDialog" OnSendFiles="GetFiles" />
    <FileViewerModalDialog NameModal="FileViewerModalDialog" FilePath="@SelectedFilePath" />

    <div class="card mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-auto d-flex align-items-center">
                    <h5 class="card-title" style="margin:0;">
                        Список файлов
                    </h5>
                </div>
                <div class="col"></div>
                <div class="col-auto d-flex align-items-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FileUploadModalDialog">
                        Загрузить
                    </button>
                </div>
                <div class="col-auto d-flex align-items-center">
                    <button type="button"
                            class="btn btn-primary"
                            @onclick="GetFiles">
                        Обновить
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">

            @if (isLoadingFiles)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Загрузка...</span>
                    </div>
                </div>
            }
            else
            {
                @if (files?.Count() > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Имя</th>
                                    @* <th scope="col">Путь</th> *@
                                    <th scope="col">Размер</th>
                                    <th scope="col">Дата создания</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                @foreach (Models.FileItem file in files)
                                {
                                    <tr>
                                        <th scope="row">@file.Name</th>
                                        @* <td>@file.Path</td> *@
                                        <td>@FileExstensionHelper.FormatBytes(file.Length)</td>
                                        <td>@file.CreationTime.ToLocalTime()</td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#FileViewerModalDialog"
                                                    @onclick="() => SelectedFilePath = file.Path">
                                                Просмотр
                                            </button>
                                            <form action="@Routing.Files.API.Download" method="post" style="display: inline;">
                                                <AntiforgeryToken />
                                                <input type="hidden" value="@file.Path" name="Path" />
                                                <button class="btn btn-primary" type="submit">Скачать</button>
                                            </form>
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    @onclick="async () => await DeleteFile(file.Path)">
                                                Удалить
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <select class="form-select" aria-label="Размерность страницы" @onchange="OnSelectChanged">
                        @foreach (var item in FileGetRequest.Sizes)
                        {
                            if (service.GetRequest.Size == item)
                            {
                                <option value="@item" selected>@item</option>
                            }
                            else
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>
                </div>
                <div class="col">
                </div>
                <div class="col-auto">
                    <nav aria-label="Навигация по страницам">
                        <ul class="pagination justify-content-end">
                            @if (service.GetRequest.Page - 1 >= 1)
                            {
                                <li class="page-item">
                                    <button class="page-link" href="#" aria-label="Предыдущая" @onclick="Back">
                                        <span aria-hidden="true">&laquo;</span>
                                    </button>
                                </li>
                            }
                            @if (files?.Count() == service.GetRequest.Size)
                            {
                                <li class="page-item">
                                    <button class="page-link" href="#" aria-label="Следующая" @onclick="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </button>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}

@code {
    private static IComponentRenderMode pageRenderMode = RenderMode.InteractiveWebAssembly;
    private InteractiveInfoService InteractiveInfo { get; set; }

    private CancellationTokenSource _pageLifetimeCts = new();
    // Токен, который срабатывает при закрытии/уничтожении страницы
    public CancellationToken PageLifetimeToken => _pageLifetimeCts.Token;

    public bool isLoadingFiles { get; private set; } = false;

    private string SelectedFilePath = string.Empty;
    private IEnumerable<Models.FileItem>? files;

    protected override async Task OnInitializedAsync()
    {
        InteractiveInfo = new InteractiveInfoService(RendererInfo, AssignedRenderMode);
        if (InteractiveInfo.IsWaitingInteractive == false)
        {
            await GetFiles();
        }
        await base.OnInitializedAsync();
    }

    public async Task GetFiles()
    {
        isLoadingFiles = true;
        StateHasChanged();
        files = await service.GetFiles(PageLifetimeToken);
        isLoadingFiles = false;
        StateHasChanged();
    }

    public async Task DeleteFile(string path)
    {
        isLoadingFiles = true;
        StateHasChanged();
        await service.DeleteFile(path, PageLifetimeToken);
        files = await service.GetFiles(PageLifetimeToken);
        isLoadingFiles = false;
        StateHasChanged();
    }
    private async Task OnSelectChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString() ?? 10.ToString(), out int result))
        {
            service.GetRequest.SetSize(result);
            await GetFiles();
        }
    }
    private async Task Next()
    {
        isLoadingFiles = true;
        StateHasChanged();
        service.GetRequest.Next();
        files = await service.GetFiles(PageLifetimeToken);
        isLoadingFiles = false;
        StateHasChanged();
    }

    private async Task Back()
    {
        isLoadingFiles = true;
        StateHasChanged();
        service.GetRequest.Back();
        files = await service.GetFiles(PageLifetimeToken);
        isLoadingFiles = false;
        StateHasChanged();
    }

    // Флаг для отслеживания состояния
    private bool _isDisposed;
    // Освобождение ресурсов при уничтожении компонента
    public async ValueTask DisposeAsync()
    {
        if (_isDisposed) return;

        _isDisposed = true;

        // Отменяем все операции
        _pageLifetimeCts?.Cancel();
        // Освобождаем ресурсы
        _pageLifetimeCts?.Dispose();
    }
}
