@using BlazorApp.Client.Models.Cloud
@using FileExstend.Models

<div class="modal fade" id="@(NameModal)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="@(NameModal)Label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="@(NameModal)Label">Окно просмотра файла</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            @if (Model != null)
            {
                <div class="modal-body">
                    Файл @Model.DisplayName

                    @if (string.IsNullOrEmpty(FilePath) == false && FileEx != null)
                    {
                        @if (FileEx.Type == FileType.Image)
                        {
                            <div class="text-center">
                                <img src="@FilePath" class="rounded" alt="Изображение" loading="lazy" style="max-width: 100%; max-height:82vh;">
                            </div>
                        }
                        else if (FileEx.Type == FileType.Video)
                        {
                            <center>
                                <video controls preload="metadata" name="media" style="max-width: 100%; max-height:82vh;">
                                    <source src="@FilePath" type="@FileEx.MIME" />
                                </video>
                            </center>
                        }
                        else if (FileEx.Type == FileType.Audio)
                        {
                            <center>
                                <figure>
                                    <audio controls src="@FilePath" preload="metadata" type="@FileEx.MIME" style="width: 100%"></audio>
                                </figure>
                            </center>
                        }
                        else if (FileEx.Type is FileType.PDF or FileType.Text or FileType.Web)
                        {
                            <center>
                                <iframe src="@FilePath" loading="lazy" style="width: 100%; height:82vh;">
                                </iframe>
                            </center>
                        }
                        else
                        {
                            <div class="alert alert-danger" role="alert">
                                Тип файла не поддерживает просмотр
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Не передан файл
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <form action="/cloud/file/dowload" method="post" style="display: inline;">
                        <AntiforgeryToken />
                        <input type="hidden" value="@Model.SystemName" name="SystemName" />
                        <input type="hidden" value="@CloudId" name="CloudId" />
                        @if (ParrentId != null)
                        {
                            <input type="hidden" value="@ParrentId" name="ParrentId" />
                        }
                        <button class="btn btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z" />
                                <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                            </svg>
                            Скачать
                        </button>
                    </form>
                </div>
            }
            else
            {
                <div class="modal-body">
                    Не выбран файл
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public CloudItemModel? Model { get; set; }
    [Parameter, EditorRequired]
    public Guid? CloudId { get; set; }
    [Parameter, EditorRequired]
    public Guid? ParrentId { get; set; }
    [Parameter, EditorRequired]
    public string NameModal { get; set; }

    private FileExstension? FileEx;
    private string FilePath = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (Model != null)
        {
            if (Model?.Type == CloudItemModel.ItemType.File)
            {
                string parrentPath = ParrentId != null ? ParrentId + "/" : string.Empty;
                FilePath = $"Cloudes/{parrentPath}{Model.SystemName}";
                if (string.IsNullOrEmpty(FilePath) == false)
                    FileEx = FileExstensionHelper.GetExtensionType(FilePath);
            }
            else
            {
                FilePath = string.Empty;
                FileEx = null;
            }
        }
        await base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Model != null)
        {
            if (Model?.Type == CloudItemModel.ItemType.File)
            {
                string parrentPath = ParrentId != null ? ParrentId + "/" : string.Empty;
                FilePath = $"Cloudes/{parrentPath}{Model.SystemName}";
                if (string.IsNullOrEmpty(FilePath) == false)
                    FileEx = FileExstensionHelper.GetExtensionType(FilePath);
            }
            else
            {
                FilePath = string.Empty;
                FileEx = null;
            }
        }
        await base.OnParametersSetAsync();
    }
}
